OCR_SPACE_API_KEY=K89401529588957
SUPABASE_URL=https://sqdugpucvfkpgcdovnwk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxZHVncHVjdmZrcGdjZG92bndrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNjkwNjcsImV4cCI6MjEwMzc0NTA2N30.PhHtbkQU-6kNRiV6qrOGvB7t37UKEB7Zu0jyLP8aQzQ